.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-trigger {
  margin: 0 10px;
  width: 50px;
  height: 30px;

  position: static;
  left: 0;
  top: 0;

  background: rgba(245, 245, 245, 0.9);
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid gray;
  border-radius: 0px;

  cursor: pointer;
}

.menu.active {
  visibility: visible;
  transform: translateY(10px);
}

.menu {
  position: absolute;
  background: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(245, 245, 245, 0.9);
  border-radius: 5px;
  top: 25px;
  left: 10px;
  width: 45px;

  visibility: hidden;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.checkbox-container {
  text-align: center;
  margin: 2px 0;

}

.checkbox-button {
  border: none;
  background-color: transparent;
}